@media screen and (max-width: 780px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
    justify-content: center;
    margin-top: 25px;
  }
  .left {
    flex-direction: column;
    text-align: center;
  }
  .nav-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .content {
    margin-top: 90px;
  }
  .content-right {
    display: none;
  }
  .home-articles {
    flex-direction: column;
  }
  .home-article {
    flex-direction: column;
    justify-content: center;
  }
  .home-article-content {
    text-align: center;
    flex-direction: column;
  }
}
