@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500;600&family=Josefin+Sans:wght@100&family=Mirza&family=Source+Sans+Pro&family=Varela+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500;600&family=Inconsolata:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500;600&family=Caveat:wght@500&family=Inconsolata:wght@500&display=swap");

:root {
  --main-bg-color: brown;
  --font1: "Baloo Bhaijaan 2", cursive;
  --font2: "Inconsolata", monospace;
  --font3: "Caveat", cursive;
  --hover: hsl(198, 100%, 37%);
  transition: all 0.3s ease-in-out;
}

.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.btn {
}

.form-control {
}
.form-input {
  padding: 0 5px;
  padding-top: 3px;
  font-size: 16px;
  border-radius: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}
